@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Homemade+Apple&display=swap');


body{
    margin:0;
    text-align: center;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}


.top-container{
    height: 400px;
    width: 90%;
    margin: 0 auto 30px 0;
    position: relative;
    background-color: antiquewhite;
    padding: 20px auto 20px;
    display: inline-block;
    
    }

.top-name{
    margin:auto;
    font-size: 80px;
    font-family: 'Homemade Apple', cursive;
    color: #66BFBF;
    line-height: 2;
}


.top-code-icon{

    display:inline;
    color: grey;
    font-size: 80px !important;
    margin: 0px;
    color: #66BFBF;
    right: 300px;
    position: relative;
}


.bottom-code-icon{
    left:180px;
    color: grey;
    font-size: 80px !important;
    margin:0px;
    color: #66BFBF;
    left: 300px;
    position: relative;

}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
  
  }
  
  .programmer{
    font-size: 2.5rem;
    color: #66BFBF;
   display:block;
   margin: auto;

}
.pro-underlined{
    font-size: 2.5rem;
    text-decoration: underline;

}

.profile{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: antiquewhite;
    margin-bottom: 30px;
}


.profile-paragraph{
    color: #40514E;
    line-height: 150%;
    font-weight: bold;
    width: 50%;
    margin: auto;
}

.skill-cells{
color: #11999E;


}

h2{
font-weight:bolder;
color: #11999E;
font-size: 250%

}

.skills{
    width: 80%;
    margin: auto;
}

.skill-row{
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height:150%;
}


.skill-img1{

    height: 70px;
    width: 70px;
    background-color: antiquewhite;
    margin:10px;

}

.skill-div-1{
    height: auto;
    width: auto;
    display: inline-block;
    float: left;
    border-radius: 100%;
    background-color: antiquewhite;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.skill-img2{

    height: 70px;
    width: 70px;
    background-color: antiquewhite;
    margin:10px;
}

.skill-div-2{
    height: auto;
    width: auto;
    display: inline-block;
    float: right;
    border-radius: 100%;
    background-color: antiquewhite;
    padding: 10px;
}

.skill-div-3{
    height: auto;
    width: auto;
    display: inline-block;
    float: left;
    border-radius: 100%;
    background-color: antiquewhite;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.skill-img3{

    height: 70px;
    width: 70px;
    background-color: antiquewhite;
    margin:10px;
}

hr{
    border-style: dotted;
    border-width: 7px 0 0 0;
    width: 10%;
    border-color: grey;
    margin: 100px auto 100px auto;
}
.drop-message{
    font-weight: bold;
    color: #11999E;
}

.button{
    margin: 100px auto 50px auto;
  }

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


  .bottom-container{
    height: 150px;
    background-color: antiquewhite;
  }
  .footer-link{
    color: #30e3cb;
    text-decoration: none;
  }

  .footer-box{
    padding: 30px;
    background-color: antiquewhite;
  }


.contact-me{
    position: relative;
 }
 

.copyright{
    color: white;
    font-weight: bolder;
}



